* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: Helvetica;
  color: #545B63;
}

.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.top-wrapper {
  height: 500px;
  background-image: url("../image/top.png");
  background-size: cover;
  padding: 250px 0 100px 0;
}

.btn {
  color: white;
  background-color: #00a3af;
  padding: 10px 40px;
  border-radius: 5px;
  margin-right: 50px;
  text-decoration: none;
}

.container2 .green {
  display: inline-block;
  margin: 10px 0 0 30px;
}

.btn:hover {
  opacity: 0.7;
}

.btn-wrapper {
  margin: 50px 0 50px 230px;
}

h1 {
  line-height: 36px;
  font-size: 36px;
}

.middle-title h2 {
  margin: 50px 0 0 30px;
}

.marker_water {
  background: linear-gradient(transparent 70%, #87ceeb 30%);
  }

.main-top {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 80px;
}

.main-top h4 {
  font-weight: 800;
}

.right img {
  width: 150px;
  height: 150px;
}

.left {
  width: 70%;
  padding: 50px 50px;
  background-color: #c1e4e9;
}

.right {
  width: 30%;
  text-align: left;
  background-color: #c1e4e9;
  padding-top: 50px;
}

.right .img2 {
  margin-left: 100px;
}

.main-top .marker {
  background: linear-gradient(transparent 60%, #89c3eb 60%);
}

.middle-t img, .middle-b img {
  height: 210px;
  margin-top: 70px;
}

.middle-t, .middle-b {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  height: 620px;
}

.middle-t-l, .middle-t-r, .middle-b-l, .middle-b-r {
  width: 50%;
  border: dashed 2px;
  border-radius: 10px;
  margin: 10px 10px;
  height: 600px;
}

.middle-t-l p {
  margin-top: 20px;
}

.middle-b-r h3 {
  line-height: 46px;
}

.middle-b-r {
  padding: 0 20px;
}

h3 {
  font-size: 24px;
  text-decoration: underline;
}
strong {
 font-size: 18px;
}

.middle-text {
  margin-top: 90px;
}

.online {
  margin: 70px 0;
}

.middle-text-online {
  margin-top: 70px;
}

.fas {
  font-size: 48px;
  margin-bottom: 20px;
}

.container1 {
  background-color: #eaedf7;
  text-align: center;
  padding: 70px 0;
  height: 400px;
  margin-top: 60px;
}

.container2 {
  background-color: #ebf6f7;
  text-align: center;
  padding: 70px 0;
  height: 500px;
}

.container2 ul {
  list-style: none;
  font-weight: 700;
}


.container3 {
  background-color: #fdeff2;
  text-align: center;
  padding: 70px 0;
  height: 400px;
}

#trial {
  background-color:#c1e4e9;
  margin: 30px 0;
  text-align: left;
  padding: 40px 0 40px 60px;
  border: dashed 5px #008899;
  border-radius: 20px;
}

#trial a, .container2 a {
  color: white;
  background-color:#00a3af;
  padding: 5px 20px;
  font-size: 18px;
  box-shadow: 0 2px #393e4f;
}

.main-bottom {
  background-color: #7d7d7d;
  text-align: center;
  padding: 10px 0;
}

.main-bottom a {
  color: white;
}

footer {
  text-align: center;
}

.middle-b .middle-b-r .fas {
  font-size: 64px;
}

.small {
  font-size: 12px;
}

@media (max-width: 1000px) {
  .btn-wrapper {
    margin: 50px 0 50px 30px;
  }

  .btn {
    margin-right: 20px;
  }

  .left {
    width: 60%; 
  }
  
  .right {
    width: 40%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
  }

  .btn {
    margin-top: 10px;
    display: block;
    font-size: 14px;
  }

  .main-top, {
    flex-direction: column;
  }

  .left {
    width: 100vw;
    text-align: center;
  }

  .right {
    display: none;
  }

  .middle-t, .middle-b {
    flex-direction: column;
    height: 100%;
  }

  .middle-t-l, .middle-t-r, .middle-b-l, .middle-b-r {
    width: 100vw;
    margin: 10px 0;
  }

  .container1 {
    margin-top: 50px;
    width: 100vw;
    padding: 20px 10px;
    height: 240px;
  }
  
  .container2, .container3 {
    width: 100vw;
    padding: 20px 10px;
    height: 300px;
  }

  .container1 h2, .container2 h2, .container3 h2 {
    font-size: 16px;
  }
  
  .container1 p, .container2 ul, .container3 p {
    font-size: 11px;
  }

  .container2 .green {
    font-size: 12px;
    margin: 0 auto;
  }

  .container2 ul {
    margin-right: 40px;
    }
  }

  .container3 .small {
    font-size: 10px;
  }

  #trial {
    width: 100vw;
    padding-right: 40px;
  }

  #trial h2 {
    font-size: 20px;
  }

  .main-bottom, footer {
    width: 100vw;
  }

  .middle-text-online {
    margin-top: 30px;
  }
}